<!DOCTYPE html>
<html>
  <head>
    <title>Email confirmation successful</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Hello <%= email %></h1>
    <p>We've activated your account. Go back to your mobile and enjoy the app ;)</p>
  </body>
</html>
